<p><%= @restaurant.name %></p>
<p><%= @restaurant.category %></p>
<p><%= @restaurant.address%></p>
<p><%= @restaurant.phone_number%></p>
<% @restaurant.reviews.each do |review| %>
  <p><%= review.content%></p>
  <p><%= review.rating%></p>
<% end%>


<%= link_to("Add a review", new_restaurant_review_path(@restaurant)) %>
<%= link_to("Edit restaurant", edit_restaurant_path(@restaurant)) %>
